.box{
    justify-content: center;
    text-align: center;
}
.toolbarTitle{
    justify-content: center;
    padding-top: 11px;
}

.toolbarContent{
    background-color: #F5F5F5;
    justify-content: center;
}
